﻿
﻿/* poprzez nadanie elementom html oraz body odpowiedniej wielkości kroju pisma mamy pewność, że jednostka względna rem (root em)

będzie wynosiła dokłądnie 16px (i każda wielokrotność tej liczby). Jednostka ta jest wykorzysytywana do ustawienia strzałki
w menu bocznym (więcej o REM http://blog.end3r.com/125/css3-manipulacja-wielkoscia-czcionki-przy-uzyciu-rem/).
Ponadto usuwamy wszelkie modyfikacje marginesów i obić obu elementów, o ile zostały ustalone przez przeglądarkę (dlatego
użyta została dyrektywa !important - ma ona na celu nadpisać WSZYSTKIE zmiany i zaaplikować te, przy których została wywołana)*/
html, body {
	font-size: 16px;
	padding: 0 !important;
	margin: 0 !important;
}

/*ustalamy dodatkowo jednolite tło dla naszego elementu body (aby strona ładnie się prezentowała)*/
body {
	background: #009fb7;
}

/* poniższy selektor nadaje WSZYSTKIM ELEMENTOM HTML takie właściwości, jakie zostały w nim zdefiniowane (pomiędzy klamrami).
W tym wypadku nadany został kolor czcionek (odcień szarego - składowe RGB mają takie same wartości)*/
* {
	color: #272727;
}

header {
	background: white;
}

/* tutaj nadajemy wartości dla DWÓCH selektorów - header div ORAZ header h1.
Wspomniane selektory działają następujące: dla każdego DIV znalezionego w HEADER oraz dla każdego H1 znalezionego w HEADER
nadaj poniższe wartości dla właściwości. Proszę pamiętać, że żaden DIV ani H1 poza ciałem znacznika HEADER nie będzie 
posiadało zdefioniowaych właściwości! 
Selektorami są nazwy znaczników HTML */
header div, header h1 {
	display: inline-block;
	margin-left: 30px;
}

header h1 {
	position: relative;
	font-size: 30px;
	left: calc((100% - 700px) / 2); /*w tym wypadku wartość left jest obliczana od 100% wysokości elementu nadrzędnego, od której
	to odejmowana jest miara 700px <- długość tekstu oraz marginesy, a ostatecznie wynik ten jest dzielony przez 2 (obliczamy
	środek w poziomie do wyświetlenia tekstu z uwzględnieniem zajętego miejsca przez logo) */
	bottom: calc((204px - 30px) / 2); /*jw., z tym że dotyczy odbicia od dołu*/
}

/*tutaj selektorami są nazwy klas przypisane do DOWOLNYCH znaczników HTML (w naszym wypadku są to znaczniki DIV, jednak
mogą być to dowolne inne znaczniki, które będą miały zdefioniowany atrybut class) */
.przycisk,.podprzycisk {
	background: #476c9b;
	width: 20%;
	float:left;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}
.podprzycisk {
	clear: both;
	width:100%;
}

/*selektorem jest identyfikator. Należy pamiętać iż w jednym dokumencie można znaleźć się TYLKO JEDEN identyfikator o konkretnej
nazwie (np. wysuwane może tyczyć się tylko jednego elementu, w tym wypdku DIV). W obrębie całej strony (kolejne podstrony)
powielanie identyfikatora jest dozwolone (zasada tyczy się dokładnie jednego elementu).*/
#wysuwane {
	position:fixed; /*element znajduje się w jednej, ustalonej pozycji w wikodu strony; nie jest on przesuwany góra/dół ani na 
	boki*/
	top: 40%;
	width: 20%;
	left: -18%; /*element poprzez właściwość left zostaje przesunięty 18% w prawo (ujemna wartość left)*/
	transition: left 1s; /*właściwość ta gwarantuje, że gdy element będzie miał zmienianą wartość właściwości left nastąpi
	animacja zmiany wartości trwająca 1 sekundę; więcej o transition i jego opcjach: 
	https://www.w3schools.com/css/css3_transitions.asp*/
	background: #476c9b;
	
}

/*delikatne przesunięcie treści w znaczniku p aby strzałka menu lepiej się wyświetlała*/
#wysuwane p{
	padding-left: 1px;
}

/*przesunięcie treści strony (właściwej) celem lepszej czytelności zawartości witryny (uwzględnia odsunięcie od menu głównego
oraz odpowiednie odsunięcie od linii bocznej celem lepszej prezentacji menu bocznego)*/
#tresc {
	padding-top: 5%;
	padding-left: 10%;
}

/*selektor z pseudoklasą hover, która aktuwuje się poprzez najechanie myszy na wskazywany element HTML. W tym wypadku jeżeli
mysz znajduje się w obrębie elementu z id wysuwane wartość left tegoż elementu ma zostać zmieniona na 0 (pierwotnie ustalona
przez nas na -18%)*/
#wysuwane:hover {
	left: 0;
}

/* używając właściwośc left powodujemy, że element zbiorczy zawierający elementy z taką właściwości traci swoją pierwotną
wysokość (elementy wyrywane są ze swojego pierwotnego przepływu na stronie toteż element, chociaż jest ich rodziciem to 
dla przeglądarki ich nie posiada). Aby wyeliminować niedodność (ponownie nadać wysokość elementowi) robi się tzw. obejście 
(ang. workaround, trick), które polega na dodaniu pseudoelementu after (po), który umiejscawia się tuż po elemencie zbiorczym
Dzięki temu zabiegowi element ustawia się po elementach wyjętych z opływu, a element oryginalny dociągany jest do niego 
(odzyskuje swoją wysokość). Rozwiązanie to jest raczej do zapamiętania (nie da się go w prosty sposób wydedukować).*/
#wysuwane::after {
	content: '';
	display: table;
	clear: both;
}

/*dostosowanie odnośników w przyciskach by miały odpowiedni kolor, rozmiar oraz grubość kroju czcionek. Należy pamiętać,
że element a powinien mieć ponadto obsłużone pseudoelementy :active, :visited, :link, :hover - więcej
https://www.w3schools.com/css/css_pseudo_classes.asp*/
.przycisk a, .podprzycisk a {
	font-size: 24px;
	color: #fed766;
	text-decoration: none;
	font-weight: 800;
}

.przycisk:hover a, .podprzycisk a:hover {
	font-weight: 300;
}

#przyciski_podmenu {
	float: left;
	width: 95%;
}

#strzalka{
	font-size: 16px;
	float: left;
	width: 5%;
	overflow: hidden;
	margin-top: 4rem;
}

/*kod CSS tworzący strzałkę. Tak jak zostało wspomniane strzałką jest obramowanie elementu liniowego i (dokładnie części prawej oraz 
dolnej) oraz odpowiednie nadanie jej koloru. Następnie użyta zostaje odpowiednia klasa (right) obracająca tenże element o 
zadany kąt*/
#strzalka i {
    border: solid #fed766;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
	color: #fed766;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
	transition: transform 1s;
}
/* selektor odpowiada za obrócenie strzałki w lewym kierunku (zwinięcie menu). Również animowany za pomocą transition */
#wysuwane:hover .right {
	 transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

#strona {
	min-height: 100vh;
	background: linear-gradient(#add9f4, #009fb7);
}

footer {
	text-align: center;
	font-weight: 800;
	text-transform: uppercase; /*litery małe zamienia na duże, pomijając ich oryginalne wielkości */
	background: #009fb7;
}
